[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
pillow = "*"
scipy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
